html {
    background-color: antiquewhite;
}

h1,
h2 {
    font-family: Helvetica, sans-serif;
}

@font-face {
    font-family: Farsan;
    src: url(./Farsan-Regular.ttf);
}

li {
    font-family: Farsan, Helvetica, sans-serif;
}

.images {
    height: auto;
    width: 20%;
}

.recipe-list {
    display: flex;
    margin: 20px;
}

.recipe-item {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.recipe-item a {
    color: white;
}

.recipe-item:hover {
    background-color: maroon;
}
