* {
    box-sizing: border-box;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


html {
    background-color: antiquewhite;
}

h1,
h2 {
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 3vh 0;
}

@font-face {
    font-family: Farsan;
    src: url(./Farsan-Regular.ttf);
}

li {
    font-family: Farsan, Helvetica, sans-serif;
}

.images {
    height: auto;
    width: 20%;
}

.recipe-list {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.recipe-item {
    background-color: brown;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.recipe-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 32px;
}

.recipe-item:hover {
    background-color: maroon;
}
