.dish-name,
.description {
    text-align: center;
}

.subsection {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.description {
    font-style: italic;
}

.ingredients {
    background-color: #ffe989;
    font-family: monospace;
}

.steps {
    background-color: #ffc3df;
    font-family: Georgia, 'Times New Roman', Times, serif;
}